a.out
.DS_Store
cachegrind.out.*
config.mk
gen
debuggen
flamegraph.html
utils/.DS_Store
perf.data
perf.data.old
run
debugrun
shell/lasttest.out
shell/lasttest.err
tables/*
test/*/runtest
test/.DS_Store
test/run
test/run.DSYM
runtest
runtool
tools/.DS_Store
run.DSYM
run.core
test/last.*
tools/results
.vscode
*.a
*.o
*.so
*.s
